body{
    width: 70%;
    margin: auto;
}

header{
    height: 75px;
    background-size: 275px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
}

#logo{
    width: 150px;
    position: relative;
    top: 30px;
}

#impo{
    background-color: yellow;
}

.sottotitolo{
    color: gray;
}

.didascalia{
font-size: small;
}

#boolean{
    color: #37B2E8;
}

thead{
    color: white;
    background-color: #37B2E8;
}

.azzurro{
    background-color:lightblue; 
}